.buton{
    background-color: rgb(252, 193, 0);
    color: #000000;
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    width: 90px;
    transition: all 0.5s ease;
}
.buton:hover{
    background-color: rgb(138, 116, 46);
}